.home {
    animation: home-anim 4s forwards;
    opacity: 0;
}

@keyframes home-anim {
    0% {
        opacity: 0;
        margin-left: -9em;
    }

    100% {
        opacity: 1;
        margin-left: 0em;
    }
}

@keyframes skills-anim {
    0% {
        opacity: 0;
        transform-origin: left;
        transform: scale(0%);
    }

    100% {
        opacity: 1;
        transform-origin: left;
        transform: scale(100%);
    }
}

/* Base styling for bars*/
/* Neon bars*/
.skills {
    height: 0.25rem;

    animation-duration: 1s;
    animation-name: skills-anim;
    animation-timing-function: ease;
}
/* White (background) bars */
.skillsWhite {
    height: 0.25rem;
    border-radius: 9999px;
    background-color: rgb(229 231 235);
    position: absolute;

    animation-duration: 1s;
    animation-name: skills-anim;
    animation-timing-function: ease-out;
}

/* Transparent bars */
.skillsBg {
    width: 24rem;
    background-color: rgb(75 85 99);
}
/* Pink bars */
.skillsPink {
    position: absolute;
    background-color: #DB1371;
    filter: drop-shadow(0px 0px 5px #DB1371) drop-shadow(0px 0px 7px #DB1371) drop-shadow(0px 0px 3px #DB1371);
}
/* Blue bars */
.skillsBlue {
    position: absolute;
    background-color: #00B3FE;
    filter: drop-shadow(0px 0px 5px #00B3FE) drop-shadow(0px 0px 7px #00B3FE) drop-shadow(0px 0px 3px #00B3FE);
}

/* 80% */
.s80 {
    width: 19.2rem;
}

/* 85% */
.s85 {
    width: 20.4rem;
}

/* 75% */
.s75 {
    width: 18rem;
}

/* 70% */
.s70 {
    width: 16.8rem;
}

/* 60% */
.s60 {
    width: 14.4rem;
}



@keyframes about-anim {
    from { width: 0 }
    to { width: 100% }
}

/* About page */
.about {
    animation: about-anim 0.65s steps(15, end) forwards;
    overflow: hidden;
    white-space: nowrap;
    width: 0.01%
}

.delay-1 {
    animation-delay: 250ms;
}

.delay-2 {
    animation-delay: 1s;
}

.delay-3 {
    animation-delay: 1.3s;
}

.delay-4 {
    animation-delay: 2s;
}

.delay-5 {
    animation-delay: 3s;
}